<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCiM91UCytS8UU_qlKneGgAG6wfFJpdW8I</string>
	<key>GCM_SENDER_ID</key>
	<string>896233005097</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>yves.charpentier.MonMaraicher</string>
	<key>PROJECT_ID</key>
	<string>mon-maraicher-3f072</string>
	<key>STORAGE_BUCKET</key>
	<string>mon-maraicher-3f072.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:896233005097:ios:1d43f96a0b9b6ac0263c38</string>
</dict>
</plist>